
// 1rem = 16px

.home-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-bottom: 7em;
    background-image: url('../../assets/images/cover-bg-img.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;


    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(255, 144, 0, 0.9);
        z-index: 0;
    }
    .cover-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        color: #fff;
        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-image: url('../../assets/images/cover-image.jpeg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            // animation: fadeInDown 1s 0.4 forwards;
        }
        .name {
            position: relative;
            font-family: 'Kaushan Script', cursive;
            font-size: 50px;
            font-weight: 300;
            line-height: 1.3;
            color: #fff;
            transform: rotate(-10deg);
            // animation: fadeIn 1s 0.6 forwards;

            span::before {
                content: "";
                position: absolute;
                top: 40px;
                left: -35px;
                display: inline-block;
                height: 4px;
                width: 30px;
                background-color: #fff;
            }
            span::after {
                content: "";
                position: absolute;
                top: 40px;
                right: -40px;
                display: inline-block;
                height: 4px;
                width: 30px;
                background-color: #fff;
            }
        }
        p {
            margin-top: 2rem;
            font-family: "Space Mono", monospace;
            // animation: fadeIn 1s 0.6 forwards;
            font-size: 1.2rem;

            .highlight {
                color: #000;
            }
        }
        .social-links {
            display: flex;
            margin: 2rem 0;

            li {
                list-style: none;
                padding: 10px;
                // animation: fadeInUp 1s 0.8 forwards;
            }

            a {
                display: inline-block;
                text-decoration: none;
                height: 30px;
                width: 30px;
                color: #fff;
                font-size: 30px;
            }
        }
    }
}