
.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        border-radius: 50%;
        background-image: url('../../assets/images/cover-image.jpeg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .social-links {
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                padding: 10px 25px;
            }
    
            a {
                display: inline-block;
                text-decoration: none;
                height: 20px;
                width: 20px;
                color: #ff9000;
                font-size: 30px;
            }
        }
}